In [1]:
# d = {}
# d = {<key>:<value>}

In [2]:
# Dict
# -Indexing
# -Ordered
# -Duplicate Values
# -Mutable

In [8]:
a = {"a":"Apple","b":"Ball","c":"Cat"}
print(a)
print(type(a))
len(a)

{'a': 'Apple', 'b': 'Ball', 'c': 'Cat'}
<class 'dict'>

3

In [10]:
a = {"a":"Apple","b":"Ball","c":"Cat"}
a["b"]

'Ball'

In [11]:
a = {"a":"Apple","b":"Ball","c":"Cat","A":"Apple"}
a

{'a': 'Apple', 'b': 'Ball', 'c': 'Cat', 'A': 'Apple'}

In [12]:
a = {"a":"Apple","b":"Ball","c":"Cat","a":"apple"}
a

{'a': 'apple', 'b': 'Ball', 'c': 'Cat'}

In [16]:
a = {"a":"Apple","b":"Ball","c":"Cat"}
a["a"] = "Ant"
a

{'a': 'Ant', 'b': 'Ball', 'c': 'Cat'}

In [17]:
a = {"a":"Apple","b":"Ball","c":"Cat"}
a["A"] = "Ant"
a

{'a': 'Apple', 'b': 'Ball', 'c': 'Cat', 'A': 'Ant'}

In [19]:
a = {}
a["a"] ="Apple"
a["b"] = "Ball"
a["c"] = "cat"
a

{'a': 'Apple', 'b': 'Ball', 'c': 'cat'}

In [20]:
a = {}
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    phone = int(input("Enter phone = "))
    a[name] = phone
print(a)

Enter n = 2
Enter name = Ram
Enter phone = 35354545
Enter name = Shyam
Enter phone = 5345354
{'Ram': 35354545, 'Shyam': 5345354}

In [21]:
a = {'Ram': 35354545, 'Shyam': 5345354}
for i in a:
    print(i)

Ram
Shyam

In [22]:
a = {'Ram': 35354545, 'Shyam': 5345354}
for i in a.values():
    print(i)

35354545
5345354

In [23]:
a = {'Ram': 35354545, 'Shyam': 5345354}
for i in a.items():
    print(i)

('Ram', 35354545)
('Shyam', 5345354)

In [24]:
a = {'Ram': 35354545, 'Shyam': 5345354}
a.items()

dict_items([('Ram', 35354545), ('Shyam', 5345354)])

In [25]:
a = [('Ram', 35354545), ('Shyam', 5345354)]
dict(a)

{'Ram': 35354545, 'Shyam': 5345354}

In [26]:
a = list("Apple")
a

['A', 'p', 'p', 'l', 'e']

In [27]:
a = tuple("Apple")
a

('A', 'p', 'p', 'l', 'e')

In [30]:
# del pop()

a = {'Ram': 35354545, 'Shyam': 5345354}
del a["Ram"]
a

{'Shyam': 5345354}

In [32]:
a = {'Ram': 35354545, 'Shyam': 5345354}
b = a.pop('Ram')
print(b)
print(a)

35354545
{'Shyam': 5345354}

In [35]:
a = {'Ram': 35354545, 'Shyam': 5345354}
b = {"hari":976667867}
a.update(b)
print(a)

{'Ram': 35354545, 'Shyam': 5345354, 'hari': 976667867}

In [38]:
a = {'Ram': 35354545, 'Shyam': 5345354, 'hari': 976667867}
for i in a:
    if "Ram" in i:
        print(a[i])

35354545

In [41]:
a = {'Ram': 35354545, 'Shyam': 5345354, 'hari': 976667867}
for i in a.items():
    if i[1] == 5345354:
        print(i)

('Shyam', 5345354)

In [44]:
# list inside dict
a = {"Ram":[9843667654,9808556543],"Shyam":[9867554543,9808556543]}
a["Ram"]

[9843667654, 9808556543]

In [45]:
a = {"Ram":[9843667654,9808556543],"Shyam":[9867554543,9808556543]}
for i in a.items():
    print(i)

('Ram', [9843667654, 9808556543])
('Shyam', [9867554543, 9808556543])

In [49]:
a = {"Ram":[9843667654,9808556543],"Shyam":[9867554543,9808556543]}
a["Ram"][0]

9843667654

In [50]:
a = {"Ram":[9843667654,9808556543],"Shyam":[9867554543,9808556543]}
a["Ram"][0] = 9851667654
a

{'Ram': [9851667654, 9808556543], 'Shyam': [9867554543, 9808556543]}

In [51]:
a = {"Ram":[9843667654,9808556543],"Shyam":[9867554543,9808556543]}
a["Hari"] = [9867556590,9808556543]
a

{'Ram': [9843667654, 9808556543],
 'Shyam': [9867554543, 9808556543],
 'Hari': [9867556590, 9808556543]}

In [52]:
a = {"Ram":[9843667654,9808556543],"Shyam":[9867554543,9808556543]}
del a["Ram"]
a

{'Shyam': [9867554543, 9808556543]}

In [53]:
a = {}
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    ntc = int(input("Enter ntc phone = "))
    ncell = int(input("Enter ncell phone = "))
    a[name] = [ntc,ncell]
print(a)

Enter n = 2
Enter name = Ram
Enter ntc phone = 9867665676
Enter ncell phone = 9808556765
Enter name = Shyam
Enter ntc phone = 9867559072
Enter ncell phone = 9808556765
{'Ram': [9867665676, 9808556765], 'Shyam': [9867559072, 9808556765]}

In [ ]:
# tuple inside list
a = {"Ram":(9843667654,9808556543),"Shyam":(9867554543,9808556543)}

In [54]:
# dict inside dict
a = {"Ram":{"NTC":9845667654,"NCELL":9808998965},
    "Shyam":{"NTC":9845667654,"NCELL":9808998965},
    "Hari":{"NTC":9845667654,"NCELL":9808998965}}

In [55]:
a = {}
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    ntc = int(input("Enter ntc phone = "))
    ncell = int(input("Enter ncell phone = "))
    a[name] = {"NCT":ntc,"NCELL":ncell}
print(a)

Enter n = 2
Enter name = Ram
Enter ntc phone = 9867667547
Enter ncell phone = 9808667897
Enter name = Shyam
Enter ntc phone = 9848667654
Enter ncell phone = 9808667654
{'Ram': {'NCT': 9867667547, 'NCELL': 9808667897}, 'Shyam': {'NCT': 9848667654, 'NCELL': 9808667654}}

In [56]:
a = {'Ram': {'NCT': 9867667547, 'NCELL': 9808667897}, 'Shyam': {'NCT': 9848667654, 'NCELL': 9808667654}}
for i in a.items():
    print(i)

('Ram', {'NCT': 9867667547, 'NCELL': 9808667897})
('Shyam', {'NCT': 9848667654, 'NCELL': 9808667654})

In [60]:
a["Ram"]['NCT'] = 9867556677
a

{'Ram': {'NCT': 9867556677, 'NCELL': 9808667897},
 'Shyam': {'NCT': 9848667654, 'NCELL': 9808667654}}

In [61]:
# WAP to make dic inside list and its CRUD operation

In [62]:
a = {("Ram","Shyam"):985677876}
a[("Ram","Shyam")]

985677876

In [63]:
a = {["Ram","Shyam"]:985677876}
a[("Ram","Shyam")]

TypeError: unhashable type: 'list'

In [64]:
a = [1,2,3]
tuple(a)

(1, 2, 3)

In [65]:
a = (1, 2, 3)
list(a)

[1, 2, 3]

In [1]:
a = []
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    ntc = int(input("Enter ntc phone = "))
    ncell = int(input("Enter ncell phone = "))
    z = {"Name":name,"NCT":ntc,"NCELL":ncell}
    a.append(z)
print(a)

Enter n = 2
Enter name = Ra,
Enter ntc phone = 9856776543
Enter ncell phone = 24423423
Enter name = Shyam
Enter ntc phone = 98545354
Enter ncell phone = 645646546
[{'Name': 'Ra,', 'NCT': 9856776543, 'NCELL': 24423423}, {'Name': 'Shyam', 'NCT': 98545354, 'NCELL': 645646546}]