In [1]:
# Python Collection
# -List
# -Tuple
# -Dictionary
# -Set

In [4]:
# list
l = []
a = ["Apple","Ball","Cat","Dog","Fish"]
print(len(a))
print(type(a))

5
<class 'list'>

In [3]:
# List
# -Indexed
# -Ordered
# -Multiple values
# -Mutable

In [6]:
a = ["Apple","Ball","Cat","Dog","Fish"]
print(a[1])

Ball

In [11]:
a = ["Apple","Ball","Cat","Dog","Fish"]
print(a[4])

Fish

In [12]:
a = ["Apple","Ball","Cat","Dog","Fish"]
print(a[1:4100])

['Ball', 'Cat', 'Dog', 'Fish']

In [9]:
a = ["Apple","Ball","Cat","Dog","Fish"]
print(a[0:4:2])

['Apple', 'Cat']

In [13]:
a = ["Apple","Ball","Cat","Dog","Fish"]
print(a)

['Apple', 'Ball', 'Cat', 'Dog', 'Fish']

In [15]:
a = ["Apple","Ball","Cat","Dog","Fish"]
b = ['Bag']
print(b+a)

['Bag', 'Apple', 'Ball', 'Cat', 'Dog', 'Fish']

In [16]:
a = ["Apple","Ball","Cat","Dog","Fish"]
print(a*2)

['Apple', 'Ball', 'Cat', 'Dog', 'Fish', 'Apple', 'Ball', 'Cat', 'Dog', 'Fish']

In [17]:
a = [1,2,3,3.4,"Apple"]
a

[1, 2, 3, 3.4, 'Apple']

In [19]:
a = ["Apple","Ball","Cat","Dog","Fish"]
a[0] = "Ant"
print(a)

['Ant', 'Ball', 'Cat', 'Dog', 'Fish']

In [21]:
a = []
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    a = a+[name]
    
print(a)

Enter n = 5
Enter name = Ram
Enter name = Shyam
Enter name = Hari
Enter name = Sita
Enter name = Gita
['Ram', 'Shyam', 'Hari', 'Sita', 'Gita']

In [22]:
for i in a:
    print(i)

Ram
Shyam
Hari
Sita
Gita

In [23]:
a = ['Ram', 'Shyam', 'Hari', 'Sita', 'Gita']
if "Ram" in a:
    print("Yes")
    print(a.count("Ram"))

Yes
1

In [24]:
# append()
# insert()
# extend()

In [25]:
# append()
a = []
a.append("Apple")
print(a)

['Apple']

In [26]:
a = []
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    a.append(name)
    
print(a)

Enter n = 2
Enter name = Apple
Enter name = Ball
['Apple', 'Ball']

In [27]:
# insert()
a = ['Ram', 'Shyam', 'Hari', 'Sita', 'Gita']
a.insert(1,"Nabin")
print(a)

['Ram', 'Nabin', 'Shyam', 'Hari', 'Sita', 'Gita']

In [28]:
# extend()
a = ['Ram', 'Shyam', 'Hari', 'Sita', 'Gita']
b = ["Nabina","Sabina"]
a.extend(b)
a

['Ram', 'Shyam', 'Hari', 'Sita', 'Gita', 'Nabina', 'Sabina']

In [29]:
# remove()
# pop()
# del

In [30]:
a = ['Ram', 'Shyam', 'Hari', 'Sita', 'Gita']
a.remove('Ram')
a

['Shyam', 'Hari', 'Sita', 'Gita']

In [34]:
a = ['Ram', 'Shyam', 'Hari', 'Sita', 'Gita']
i = a.index("Hari")
print(i)
del a[2]
print(a)

2
['Ram', 'Shyam', 'Sita', 'Gita']

In [35]:
a = ['Ram', 'Shyam', 'Hari', 'Sita', 'Gita']
del a[0:3]
a

['Sita', 'Gita']

In [36]:
a = ['Ram', 'Shyam', 'Hari', 'Sita', 'Gita']
del a[0:6:2]
a

['Shyam', 'Sita']

In [39]:
a = ['Ram', 'Shyam', 'Hari', 'Sita', 'Gita','Ram']
for i in a:
    if i == "Ram":
        a.remove('Ram')
a

['Shyam', 'Hari', 'Sita', 'Gita']

In [40]:
a = ['Ram', 'Shyam', 'Hari', 'Sita', 'Gita','Ram']
n = len(a)
for i in range(n):
    if a[i] == "Ram":
        print(i)

0
5

In [43]:
a = ['Ram', 'Shyam', 'Hari', 'Sita', 'Gita']
x = a.pop(1)
print(a)
print(x)

['Ram', 'Hari', 'Sita', 'Gita']
Shyam

In [44]:
a = ['Ram', 'Shyam', 'Hari', 'Sita', 'Gita']
a.clear()
a

[]

In [46]:
s = str()
n = int(input("Enter n = "))
for i in range(1,n+1):
    product = input(f"Enter product {i}= ")
    price = int(input(f"Enter price of {product} = "))
    quantity = int(input(f"Enter quantity {product}= "))
    total = price*quantity
    info = f"{i} {product} {price} {quantity} {total}\n"
    s = s+info
   
    
print(s)

Enter n = 2
Enter product 1= Apple
Enter price of Apple = 200
Enter quantity Apple= 3
Enter product 2= Banana
Enter price of Banana = 200
Enter quantity Banana= 4
1 Apple 200 3 600
2 Banana 200 4 800

In [47]:
l = s.split('\n')
print(l)

['1 Apple 200 3 600', '2 Banana 200 4 800', '']

In [48]:
print(l[0])

1 Apple 200 3 600

In [49]:
a = ['1 Apple 200 3 600', '2 Banana 200 4 800', '']
a[0] = '1 Ball 200 3 600'
a

['1 Ball 200 3 600', '2 Banana 200 4 800', '']

In [1]:
# List inside list
a = [[1,2,3],[4,5,6],[7,8,9]]
print(a)

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [2]:
a = [["Ram",34,"Kathmandu",9856554543],
    ["Shyam",54,"Patan",9856554543]]
print(a)

[['Ram', 34, 'Kathmandu', 9856554543], ['Shyam', 54, 'Patan', 9856554543]]

In [3]:
a = []
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    age = int(input("Enter age = "))
    add = input("Enter address = ")
    phone=int(input("Enter phone = "))
    info = [name,age,add,phone]
    a.append(info)
    
print(a)

Enter n = 2
Enter name = Ram
Enter age = 34
Enter address = Kathmandu
Enter phone = 9845889432
Enter name = Shyam
Enter age = 34
Enter address = Kathmandu
Enter phone = 9856554543
[['Ram', 34, 'Kathmandu', 9845889432], ['Shyam', 34, 'Kathmandu', 9856554543]]

In [6]:
a = [['Ram', 34, 'Kathmandu', 9845889432], ['Shyam', 34, 'Kathmandu', 9856554543]]
print(a[0])
print(len(a))

['Ram', 34, 'Kathmandu', 9845889432]
2

In [13]:
a = [['Ram', 34, 'Kathmandu', 9845889432], ['Shyam', 34, 'Kathmandu', 9856554543]]
a[0][3]

9845889432

In [15]:
a = [['Ram', 34, 'Kathmandu', 9845889432], ['Shyam', 34, 'Kathmandu', 9856554543]]
a[0] = ['Rama', 54, 'Kathmandu', 9845889432]
a

[['Rama', 54, 'Kathmandu', 9845889432], ['Shyam', 34, 'Kathmandu', 9856554543]]

In [16]:
a = [['Ram', 34, 'Kathmandu', 9845889432], ['Shyam', 34, 'Kathmandu', 9856554543]]
a[0][0] = "Hari"
a

[['Hari', 34, 'Kathmandu', 9845889432], ['Shyam', 34, 'Kathmandu', 9856554543]]

In [1]:
a = [['Ram', 34, 'Kathmandu', 9845889432], ['Shyam', 34, 'Kathmandu', 9856554543]]
name = input("Enter name = ")
c = 0
for i in a:
    if name in i:
        print(i)
        c = c+1
print(c)

Enter name = Kathmandu
['Ram', 34, 'Kathmandu', 9845889432]
['Shyam', 34, 'Kathmandu', 9856554543]
2

In [2]:
a = a = [['Ram', 34, 'Kathmandu', 9845889432], ['Shyam', 34, 'Kathmandu', 9856554543]]
del a[0]
a

[['Shyam', 34, 'Kathmandu', 9856554543]]

In [4]:
a = [['Ram', 34, 'Kathmandu', 9845889432], ['Shyam', 34, 'Kathmandu', 9856554543]]
b = a.pop(1)
print(a)
print(b)

[['Ram', 34, 'Kathmandu', 9845889432]]
['Shyam', 34, 'Kathmandu', 9856554543]

In [7]:
a = [['Ram', 34, 'Kathmandu', 9845889432], ['Shyam', 34, 'Kathmandu', 9856554543],['Shyam', 34, 'Kathmandu', 9856554543]]
for i in a:
    if "Shyam" in i:
        a.remove(i)
print(a)

[['Ram', 34, 'Kathmandu', 9845889432], ['Shyam', 34, 'Kathmandu', 9856554543]]

In [8]:
b = []
a = [['Ram', 34, 'Kathmandu', 9845889432], ['Shyam', 34, 'Kathmandu', 9856554543],['Shyam', 34, 'Kathmandu', 9856554543]]
for i in a:
    if "Shyam" in i:
        pass
    else:
        b.append(i)
        
print(b)

[['Ram', 34, 'Kathmandu', 9845889432]]

In [10]:
a = [['Ram', 34, 'Kathmandu', 9845889432], ['Shyam', 34, 'Kathmandu', 9856554543],['Shyam', 34, 'Kathmandu', 9856554543]]
l = len(a)
for i in range(l):
    if "Shyam" in a[i]:
        print(i)

1
2

In [ ]:
# # Matrix
# WAP to build matrix using list
# WAP to find max value min and value sum in list (min() max() sum())

In [2]:
# a = []
# b = []
# n = int(input("Enter n = "))
# for i in range(1,n+1):
#     row1 = int(input("Enter row1 = "))
#     row2 = int(input("Enter row2 = "))
#     a.append(row1)
#     b.append(row2)

 

# print(a)
# print(b)

Enter n = 4
Enter row1 = 2
Enter row2 = 2
Enter row1 = 3
Enter row2 = 4
Enter row1 = 3
Enter row2 = 2
Enter row1 = 3
Enter row2 = 2
[2, 3, 3, 3]
[2, 4, 2, 2]

In [3]:
t = []
r = int(input("Enter r = "))
c = int(input("Enter c = "))
for i in range(r):
    z = []
    
    for j in range(c):
        x = int(input("Enter x = "))
        z = z+[x]
    t = t+[z] 
print(t)

Enter r = 2
Enter c = 3
Enter x = 3
Enter x = 34
Enter x = 32
Enter x = 432
Enter x = 32
Enter x = 43
[[3, 34, 32], [432, 32, 43]]

In [ ]:
# lambda <arguments>:<expression>

In [2]:
x = lambda a,b:a*b
print("The total mul = ",x(4,5))

The total mul =  20

In [3]:
g = lambda x,y: x+y**3
print(g(5,6))

221

In [7]:
Lists=[1,2,3,4,10,123,22]

div=list(filter(lambda x:(x%3==0),Lists))
even=list(filter(lambda x:(x%2 == 0),Lists))

print(div)
print(even)

[3, 123]
[2, 4, 10, 22]

In [8]:
List = [1,2,3,4,10,123,22]  
new_list = list(map(lambda x:x**3,List))
print(new_list)

[1, 8, 27, 64, 1000, 1860867, 10648]

In [10]:
List = [1,2,3,4,10,123,22]
List*2

[1, 2, 3, 4, 10, 123, 22, 1, 2, 3, 4, 10, 123, 22]

In [12]:
List = [1,2,3,4,10,123,22]  
new_list = tuple(map(lambda x:x*2,List))
print(new_list)

(2, 4, 6, 8, 20, 246, 44)