In [1]:
# for loop
# While Loop

In [2]:
# # for loop
# range(5)        (0,1,2,3,4)  for(i = 0; i<5; i++)
# range(1,5)      (1,2,3,4)    for(i = 1; i<5; i++)
# range(1,5,2)    (1,3)        for(i = 1; i<5; i = i+2)

In [3]:
for i in range(5):
    print("Hello World")

Hello World
Hello World
Hello World
Hello World
Hello World

In [4]:
for i in range(5):
    print(i,"Hello World")

0 Hello World
1 Hello World
2 Hello World
3 Hello World
4 Hello World

In [5]:
for i in range(1,5):
    print(i,"Hello World")

1 Hello World
2 Hello World
3 Hello World
4 Hello World

In [6]:
for i in range(1,5,2):
    print(i,"Hello World")

1 Hello World
3 Hello World

In [7]:
n = int(input("Enter n = "))
for i in range(1,11):
    print(n*i)

Enter n = 5
5
10
15
20
25
30
35
40
45
50

In [8]:
n = int(input("Enter n = "))
for i in range(1,11):
    print(n,"*",i,"=",n*i)

Enter n = 5
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

In [9]:
for i in range(1,21):
    if i%2 ==0:
        print(i)

2
4
6
8
10
12
14
16
18
20

In [10]:
for i in range(1,21):
    if i%2 !=0:
        print(i)

1
3
5
7
9
11
13
15
17
19

In [13]:
s = str()
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    s = s+name+"\n"
    
print(s)

Enter n = 3
Enter name = Ram
Enter name = Shyam
Enter name = Hari
Ram
Shyam
Hari

In [17]:
s = 0
n = int(input("Enter n = "))
for i in range(n):
    x = int(input("Enter x = "))
    s = s+x
    
print("The sum is = ",s)
print("The average = ",s/n)

Enter n = 5
Enter x = 243
Enter x = 3434
Enter x = 2412
Enter x = 454
Enter x = 34243
The sum is =  40786
The average =  8157.2

In [20]:
# factorial 4! = 1*2*3*4*5

In [22]:
fac = 1
n = int(input("Enter n = "))
for i in range(1,n+1):
    fac = fac*i
    
    print(fac)

Enter n = 5
1
2
6
24
120

In [24]:
for i in range(1,5):
    print(i*"*")

*
**
***
****

In [25]:
a = "Python"
for i in a:
    print(i)

P
y
t
h
o
n

In [26]:
a = "Python"
for i in a:
    print(i,"Hello World")

P Hello World
y Hello World
t Hello World
h Hello World
o Hello World
n Hello World

In [30]:
a = "Ram Shyam Hari Sita"
for i in a:
    if i != " ":
        print(i,end = "")

RamShyamHariSita

In [31]:
# control statement
# break
# continue
# pass

In [32]:
for i in range(10):
    if i == 5:
        break
    print(i)

0
1
2
3
4

In [33]:
for i in range(10):
    if i == 5:
        continue
    print(i)

0
1
2
3
4
6
7
8
9

In [2]:
a = "Ram Shyam Hari Sita"
for i in a:
    if i == " ":
        break
    print(i,end = "")

Ram

In [3]:
a = "Ram Shyam Hari Sita"
for i in a:
    if i == " ":
        continue
    print(i,end = "")

RamShyamHariSita

In [ ]:
# 2,3,5,7,11,13,17,19,
# 4,6,8,9,10,12,

n = int(input("Enter n = "))
for i in range(2,n):
    if n%i==0:
        print("This is composite no")
        break
    else:
        print("This is prime")
        break

In [1]:
for i in range(1,51):
    if i%5 !=0:
        continue
    print(i)

5
10
15
20
25
30
35
40
45
50

In [4]:
# while loop
a = 1
while a<5:
    print(a,"Hello World")
    a = a+1

1 Hello World
2 Hello World
3 Hello World
4 Hello World

In [7]:
a = 1
n = int(input("Enter n = "))
while a<=10: 
    print(n,"*",a,"=",n*a)
    a +=1

Enter n = 5
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

In [1]:
s = str()
i = 0
n = int(input("Enter n = "))
while i<n:
    name = input("Enter name = ")
    phone = input("Enter phone ")
    s = s+name+" "+phone+"\n"
    i = i+1
print(s)

Enter n = 2
Enter name = Ram
Enter phone 986677654
Enter name = Shyam
Enter phone 986766565
Ram 986677654
Shyam 986766565

In [2]:
s = 0
i = 0
n = int(input("Enter n = "))
while i<n:
    x = int(input("Enter x = "))
    s = s+x
    i = i+1
print("The sum is = ",s)
print("The average = ",s/n)

Enter n = 5
Enter x = 234
Enter x = 345
Enter x = 234
Enter x = 35
Enter x = 23
The sum is =  871
The average =  174.2

In [1]:
a = "Python"
l = len(a)
i = 0
while i<l:
    print(a[i])
    i = i+1

P
y
t
h
o
n

In [4]:
a = "Hello World I am Python"
l = len(a)
i = 0
while i<l:
    if a[i] == "I":
        break
    print(a[i],end = "")
    i = i+1

Hello World

In [2]:
a = "Hello World I am Python"
l = len(a)
i = 0
while i<l:
    if a[i] == "I":
        i = i+1
        continue
    print(a[i],end = "")
    i = i+1

Hello World  am Python

In [4]:
n = int(input("Enter n = "))
i = 2
while i<n:
    if n%i==0:
        print("This is composite no")
        break
    else:
        print("This is prime")
        break

Enter n = 11
This is prime

In [ ]:
# 0,1,1,2,3,5,8,13,....
# Shape of Nepal Flag
# WAP for a billing system

In [6]:
# 0,1,1,2,3,5,8,13,....
for i in range(5):
    y = 0
    z = y
    x = y+z
    print(x)

1
1
2
1
1
2
1
1
2
1
1
2
1
1
2