In [6]:
import mysql.connector  		#importing database
database = mysql.connector.connect(
    host="localhost",
    user="root",
    password="",
    database = "class5pm"
)
db = database.cursor()

In [4]:
db.execute("SELECT * FROM student")
result =db.fetchall()
for x in result:
    print(x)

(1, 'Ram', 78, 89, 78, 90, 72, 412, 80.0, 'A')
(2, 'Rama', 75, 83, 79, 92, 74, 450, 85.0, 'A')
(3, 'Shyam', 85, 93, 89, 92, 74, 480, 90.0, 'A')
(4, 'Nabin', 77, 88, 70, 92, 74, 440, 83.0, 'A')

In [5]:
db.execute("SELECT id,name,grade FROM student")
result =db.fetchall()
for x in result:
    print(x)

(1, 'Ram', 'A')
(2, 'Rama', 'A')
(3, 'Shyam', 'A')
(4, 'Nabin', 'A')

In [6]:
db.execute("SELECT * FROM student WHERE name = 'Ram' or name = 'Shyam'")
result =db.fetchall()
for x in result:
    print(x)

(1, 'Ram', 78, 89, 78, 90, 72, 412, 80.0, 'A')
(3, 'Shyam', 85, 93, 89, 92, 74, 480, 90.0, 'A')

In [10]:
db.execute("SELECT * FROM student WHERE grade = 'A'")
result =db.fetchall()
for x in result:
    print(x)

(1, 'Ram', 78, 89, 78, 90, 72, 412, 80.0, 'A')
(2, 'Rama', 75, 83, 79, 92, 74, 450, 85.0, 'A')
(4, 'Nabin', 77, 88, 70, 92, 74, 440, 83.0, 'A')

In [13]:
sql = "INSERT INTO student (name, physics, chemistry, math, english, nepali, total, per,grade) VALUES ('Sabina', '78', '89', '78', '90', '72', '412', '80.0', 'A');"
db.execute(sql)
database.commit()
print(db.rowcount, "record inserted.")

1 record inserted.

In [15]:
n = int(input("Enter n =  "))
for i in range(n):
    name = input("Enter name = ")
    physics = int(input("Enter physics marks  = "))
    chemistry = int(input("Enter chemistry marks  = "))
    math = int(input("Enter math marks  = "))
    english = int(input("Enter english marks  = "))
    nepali = int(input("Enter nepali marks  = "))
    total = sum([physics,chemistry,math,english,nepali])
    per = total/5
    if per>=80:
        grade = 'A'
    elif per >=60:
        grade = 'B'
    elif per >= 50:
        grade = 'C'
    else:
        grade = 'D'
    
    sql = f"INSERT INTO student (name, physics, chemistry, math, english, nepali, total, per,grade) VALUES ('{name}', {physics}, {chemistry}, {math}, {english}, {nepali}, {total}, {per},'{grade}')"
    db.execute(sql)
    
database.commit()

Enter n =  1
Enter name = Akash
Enter physics marks  = 89
Enter chemistry marks  = 98
Enter math marks  = 78
Enter english marks  = 87
Enter nepali marks  = 90

In [16]:
sql = "DELETE FROM student WHERE id = 2"
db.execute(sql) 
database.commit()

In [ ]:
id = int(input("Enter id = "))
sql = f"DELETE FROM student WHERE id = {id}"
db.execute(sql) 
database.commit()

In [3]:
field = input("Enter field (id,grade,name)= ")
value = input("Enter value = ")

sql = f"DELETE FROM student WHERE {field} = '{value}'"
db.execute(sql) 
database.commit()

Enter field (id,grade,name)= name
Enter value = Akash

In [7]:
name = input("Enter name")
id = int(input("Enter id = "))

sql = f"UPDATE student SET name = '{name}' WHERE id = {id}"
db.execute(sql) 
database.commit()

Enter nameRabina
Enter id = 6