In [1]:
a = "Hello World"
print(type(a))

<class 'str'>

In [2]:
a = 10
b = "10"
print(type(a))
print(type(b))

<class 'int'>
<class 'str'>

In [4]:
a = "Hello World\n"
print(a*4)

Hello World
Hello World
Hello World
Hello World

In [5]:
a = "Hello "
b = "World"
print(a+b)

Hello World

In [7]:
a = "Hello World"
a[0]

'H'

In [8]:
a = "Hello World"
a[0:6]

'Hello '

In [9]:
a = "Hello World"
a[0:10:2]

'HloWr'

In [11]:
a = "Hello World"
a[-2]

'l'

In [12]:
a = "Hello World"
n = len(a)
n

11

In [14]:
a = "Hello World"
n = len(a)
a[n::-1]

'dlroW olleH'

In [15]:
a =input("Enter a = ")
b = input("Enter b = ")
a+b

Enter a = Apple
Enter b = Ball

'AppleBall'

In [19]:
# search
a = "ram Shaym hari Sita Gita Ram Sita"
name = input("Enter name = ")
if name in a:
    print("Yes")
    c = a.count(name)
    print(c)

Enter name = ram
Yes
1

In [22]:
a = "ram Shaym hari Sita Gita Ram Sita"
print(a.lower())
print(a.upper())

ram shaym hari sita gita ram sita
RAM SHAYM HARI SITA GITA RAM SITA

In [25]:
# search
a = "ram Shaym hari Sita Gita Ram Sita"
a_lower = a.lower()
name = input("Enter name = ")
name_lower = name.lower()
if name_lower in a_lower:
    print("Yes")
    c = a_lower.count(name_lower)
    print(c)

Enter name = ram
Yes
2

In [27]:
# string formatting
name = input("Enter name = ")
age = int(input("Enter age = "))
add = input("Enter add = ")
info = f"Hello World I am {name}. I am from {add}. I am {age}"
print(info)

Enter name = Ram
Enter age = 45
Enter add = Kathmandu
Hello World I am Ram. I am from Kathmandu. I am 45

In [28]:
s = str()
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    age = int(input("Enter age = "))
    add = input("Enter add = ")
    info = f"{name} {age} {add}\n"
    s = s+info
    
print(s)

Enter n = 2
Enter name = Ram
Enter age = 45
Enter add = Kathmandu
Enter name = Shyam
Enter age = 34
Enter add = Patan
Ram 45 Kathmandu
Shyam 34 Patan

In [1]:
s = str()
grand_total = 0
n = int(input("Enter n = "))
for i in range(1,n+1):
    product = input(f"Enter product {i}= ")
    price = int(input(f"Enter price of {product} = "))
    quantity = int(input(f"Enter quantity {product}= "))
    total = price*quantity
    info = f"{i} {product} {price} {quantity} {total}\n"
    s = s+info
    grand_total = grand_total+total
    
print(s)
print(grand_total)

Enter n = 2
Enter product 1= Apple
Enter price of Apple = 100
Enter quantity Apple= 3
Enter product 2= Ball
Enter price of Ball = 30
Enter quantity Ball= 3
1 Apple 100 3 300
2 Ball 30 3 90

390

In [3]:
a = "Ram Shaym hari Sita Gita Ram Sita"
b = a.replace("Ram", "Rama")
print(b)

Rama Shaym hari Sita Gita Rama Sita

In [4]:
a = "Ram Shaym hari Sita Gita Ram Sita"
b = a.replace("Ram", "")
print(b)

 Shaym hari Sita Gita  Sita

In [5]:
print(s)

Apple 100 3 300
Ball 200 4 800

In [6]:
s.split('\n')

['Apple 100 3 300', 'Ball 200 4 800', '']