In [1]:
a = (1,2,3,4)
print(type(a))

<class 'tuple'>

In [2]:
a = ("Apple","Ball","Cat")
print(type(a))

<class 'tuple'>

In [3]:
# Tupel
# -Indexing
# -Ordered
# -Duplicate values
# -Imutable

In [4]:
a = ("Apple","Ball","Cat")
print(a[0])

Apple

In [5]:
a = ("Apple","Ball","Cat")
print(a[0:3])

('Apple', 'Ball', 'Cat')

In [6]:
a = ("Apple","Ball","Cat")
print(a)

('Apple', 'Ball', 'Cat')

In [14]:
a = ("Apple","Ball","Cat",)
b = ("Fish","Goat")
c = a+b
print(c)

('Apple', 'Ball', 'Cat', 'Fish', 'Goat')

In [9]:
# append() insert() extend()

In [13]:
a = ("Apple",)
type(a)

tuple

In [17]:
a = ()
type(a)

tuple

In [20]:
a = (1,1,2,2,3,3)
a[0] = 11
a

TypeError: 'tuple' object does not support item assignment

In [21]:
a = ()
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    a = a+(name,)
    
print(a)

Enter n = 3
Enter name = Apple
Enter name = Bal
Enter name = Cat
('Apple', 'Bal', 'Cat')

In [22]:
def cal():
    l = int(input("Enter l = "))
    b = int(input("Enter b = "))
    h = int(input("Enter h = "))
    a = l*b
    v = a*h
    return a,v

x = cal()
print(x)

Enter l = 100
Enter b = 23
Enter h = 21
(2300, 48300)

In [23]:
a = ("Apple","Ball","Cat")
b = list(a)
b.remove("Apple")
a = tuple(b)
print(a)

('Ball', 'Cat')

In [24]:
a = ("Apple","Ball","Cat")
b = list(a)
b[0] = "Ant"
a = tuple(b)
print(a)

('Ant', 'Ball', 'Cat')

In [25]:
# tuple inside tuple
a = ((1,2,3),(4,5,6),(7,8,9))
type(a)

tuple

In [26]:
a = ()
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    age = int(input("Enter age = "))
    add = input("Enter address = ")
    phone=int(input("Enter phone = "))
    info = ((name,age,add,phone),)
    a = a+info
    
print(a)

Enter n = 2
Enter name = RAm
Enter age = 34
Enter address = Kathmandu
Enter phone = 9867665654
Enter name = Shyam
Enter age = 56
Enter address = Patan
Enter phone = 9856556543
(('RAm', 34, 'Kathmandu', 9867665654), ('Shyam', 56, 'Patan', 9856556543))

In [27]:
a = (('Ram', 34, 'Kathmandu', 9867665654), ('Shyam', 56, 'Patan', 9856556543))
name = input("Enter name = ")
c = 0
for i in a:
    if name in i:
        print(i)
        c = c+1
print(c)

Enter name = Ram
('Ram', 34, 'Kathmandu', 9867665654)
1

In [28]:
a = (('Ram', 34, 'Kathmandu', 9867665654), ('Shyam', 56, 'Patan', 9856556543))
b = list(a)
print(b)

[('Ram', 34, 'Kathmandu', 9867665654), ('Shyam', 56, 'Patan', 9856556543)]

In [30]:
a = [('Ram', 34, 'Kathmandu', 9867665654), ('Shyam', 56, 'Patan', 9856556543)]
a.append(('Ram', 34, 'Kathmandu', 9867665654))
a

[('Ram', 34, 'Kathmandu', 9867665654),
 ('Shyam', 56, 'Patan', 9856556543),
 ('Ram', 34, 'Kathmandu', 9867665654)]

In [34]:
a = [('Ram', 34, 'Kathmandu', 9867665654), ('Shyam', 56, 'Patan', 9856556543)]
del a[0]
a

[('Shyam', 56, 'Patan', 9856556543)]

In [37]:
b = []
a = (('Ram', 34, 'Kathmandu', 9867665654), ('Shyam', 56, 'Patan', 9856556543))
for i in a:
    x = list(i)
    b.append(x)
print(b)

[['Ram', 34, 'Kathmandu', 9867665654], ['Shyam', 56, 'Patan', 9856556543]]

In [38]:
b = ()
a = [['Ram', 34, 'Kathmandu', 9867665654], ['Shyam', 56, 'Patan', 9856556543]]
for i in a:
    x = tuple(i)
    b = b+(x,)
print(b)

(('Ram', 34, 'Kathmandu', 9867665654), ('Shyam', 56, 'Patan', 9856556543))

In [41]:
t = ()
r = int(input("Enter r = "))
c = int(input("Enter c = "))
for i in range(r):
    z = ()
    
    for j in range(c):
        x = int(input("Enter x = "))
        z = z+(x,)
    t = t+(z,) 
print(t)

Enter r = 2
Enter c = 2
Enter x = 312
Enter x = 432
Enter x = 321
Enter x = 243
((312, 432), (321, 243))